*, 
*::after,
*::before {
	box-sizing: border-box;
	touch-action: manipulation;
}


@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Imperial+Script&family=Thasadith:ital@1&display=swap');

@font-face {
	font-family: 'Imperial Script';
	font-style: normal;
	font-weight: 400;
	src: url('ImperialScript-Regular.woff'), format('woff')
}


html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}




body {
	background: black;
	margin: 0;	
}


.main {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
}


.images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*.images img {
	width: 60vh;
}

.images img:first-child {
	transform: translateX(2%);
  position: absolute;
  top: -2%;
}

.images img:last-child {
	    transform: translateX(0.5%);
  position: absolute;
  bottom: -2%;
  object-fit: cover;
}*/



a {
	text-decoration: none;
	color: #fff;
}
.body {
	max-height: 100vh;
	overflow: hidden;
}

.background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}


.background  li {
	width: 50vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.background  li:after {
	position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: -1;
    filter: brightness(30%);

}

.black:after {
    background: url('images/right-column.jpg') no-repeat center center;
    position: relative;
}


.white:after {
    background: url('images/left-column.jpg') no-repeat center center;
    position: relative;
}

.background li.zoom:after {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(100%);
}


.background {
	color: #FFF;
	font-family: 'Imperial Script';
	font-style: normal;
	font-weight: 400;
	line-height: normal;


}
/*/*/
/*.images-main {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
}




.images-main .img__bayonet-top {
	transform: translate(2%, 20%);
	z-index: 0;
}

.images-main .img__bayonet-center {
	transform: translateY(-4%);
	z-index: 0;
}

.images-main .img__bayonet-bottom {
	transform: translate(-4.5%, -19%);
	z-index: 0;
}


.background a {
	  border-bottom: 1px solid #fff;
	  padding-bottom: 5px;
}

.background a:hover {
	transition: .3s;
 	color: #980002;
 	border-bottom: 1px solid #980002;

 }


.sneg {
	position: absolute;
	top: 7%;
    left: 100%;
    transform: translateX(-280%);
    z-index: 1;
}

.sneg__inner, .archive__inner{
	font-size: 32px;
	letter-spacing: 1.6px;
	cursor: pointer;
	
}

.profile {
	position: absolute;
	left: 100%;
    transform: translateX(-300%);
    bottom: 20%;
	z-index: 1;
}

.background .profile__inner, .saves__inner{
	font-size: 24px;
	letter-spacing: 1.92px;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
}


.saves, .archive {
	z-index: 1;
}


.saves {
	position: absolute;
    right: 100%;
    transform: translateX(380%); 
    top: 23%;
}

 .archive {
 	position: absolute;
    right: 100%;
	transform: translateX(170%);
    bottom: 6%;
 }



 /*390px*/


/*

 @media(max-width: 450px){

 .sneg {
 	top: 13%;
    transform: translateX(-310%);
 }

 .profile {
 	transform: translateX(-270%);
    bottom: 25%;
 }

 .saves {
 	transform: translateX(380%);
    top: 26%;
 }

 .archive {
 	transform: translateX(210%);
    bottom: 14%;
 }

 .background .profile__inner, .saves__inner{
	font-size: 18px;
	letter-spacing: 1.92px;
}

.sneg__inner, .archive__inner{
	font-size: 24px;
	letter-spacing: 1.6px;
	cursor: pointer;
}
 	.images-main .img__bayonet-top {
	transform: translate(0%, 20%);
}
.images-main .img__bayonet-center {
	transform: translate(0%, -4%);
	
}
.images-main .img__bayonet-bottom {
	    transform: translate(0%, -19%);
	
}

.main__page__background-bayonet-1, .main__page__background-bayonet-2, .main__page__background-bayonet-3 {
	    width: 500px;
}

}




 @media(max-width: 340px) {

 	.sneg {
 	top: 20%;
    transform: translateX(-270%);
 }

 .profile {
 	transform: translateX(-250%);
    bottom: 30%;
 }

 .saves {
 transform: translateX(350%);
    top: 31%;
 }

 .archive {
 	transform: translateX(195%);
    bottom: 21%;
 }

 	 .background .profile__inner, .saves__inner{
	font-size: 16px;
	letter-spacing: 1.92px;
}

.sneg__inner, .archive__inner{
	font-size: 22px;
	letter-spacing: 1.6px;
	cursor: pointer;
}


 	.main__page__background-bayonet-1, .main__page__background-bayonet-2, .main__page__background-bayonet-3 {
	    width: 400px;
}

 	.images-main .img__bayonet-top {
	transform: translate(0%, 20%);
	
}

.images-main .img__bayonet-center {
	transform: translate(0%, -4%);
	
}

.images-main .img__bayonet-bottom {
	    transform: translate(0%, -19%);
	
}

}


@media(max-width: 290px) {

	 	.main__page__background-bayonet-1, .main__page__background-bayonet-2, .main__page__background-bayonet-3 {
	    width: 250px;
}

 	.images-main .img__bayonet-top {
	transform: translate(-4%, 20%);
	
}

.images-main .img__bayonet-center {
	transform: translate(-4%, -4%);
	
}

.images-main .img__bayonet-bottom {
	    transform: translate(-4%, -19%);

	
}
}*//*/*/
